@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    padding: 0;
    margin: 0;
/*     font-weight: bold;
    font-family: 'Dancing Script', cursive; */
}
.table{
    height: 50vh;
}
.glance {
    height: auto;
}
/* p {
    
    background-color:rgb(202, 201, 201);
    font-size: 20px;
}
header > a,
nav > a {
    font-size: 25px;
} */